body {
    color: #494545;
    margin: 0;
}

.material-icons.md-18 {
    font-size: 18px;
    vertical-align: middle;
}

h1 {
    margin: 0;
    padding: 30px 0;
}

h2 {
    font-size: 25px;
    padding: 20px 0;
}

header {
    background: #fde456;
    text-align: center;
}

.container {
    text-align: center;
}

.content {
    display: flex;
    flex-flow: column;
}

.timeline {
    width: 95%;
    max-width: 940px;
    margin: 50px auto;
    text-align: left;
}

.timeline-list-item {
    display: flex;
}

.timeline-list-item .date {
    width: 20%;
    padding: 0 10px 0 20px;
    color: #696666;
    font-weight: bold;
}

.timeline-list-item .content {
    position: relative;
    width: 80%;
    padding: 0 10px 30px 20px;
    margin: 0px;
    border-left: 1px solid #aaaaaa;
}

.timeline-list-item .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #fada27;
    border-radius: 10px;
}

.timeline-list-item .title {    
    margin: 10px 0;
}

.timeline-list-item .tech {
    background: #f5e6b7;
    padding: 5px 20px;
}

.timeline-list-item a{
    padding: 0 10px;
    margin: 5px 10px;
    background: #969281;
    color: #fff;
    text-decoration: none;
}

.timeline-list-item a:hover {
    opacity: 0.8;
}